@font-face {
    font-family: Caveat;
    src: url(../font/Caveat-Regular.ttf);
}
@font-face {
    font-family: RobotoThinMono;
    src: url(../font/RobotoMono-Thin.ttf);
}

*{
    box-sizing: border-box;
}
/* MAIN STRUCTURE */
html
{
    font-size: 2em;
    font-family: 'RobotoThinMono';
    color: rgb(34, 34, 34);
    background-color: white;
}
body
{
    margin: 0px;
    max-width: 100vw;
    overflow-x: hidden;
}

@media screen and (min-width: 1000px){  
    html
    {
        font-size: 2em;
    }
}
@media screen and (max-width: 999px){ 
    html
    {
        font-size: 1em;
    }
}
#mainLayout
{
    display: grid;
    grid-template-columns: repeat(1, 1fr);

    margin: 0px;
    overflow: hidden;
}

#page_entry
{
    background-color: #2b2b2b;
    position: relative;
    height: 100vh;
    
    transition: transform;
    animation-fill-mode: forwards;
    overflow: hidden;
}
#loading_message
{
    font-size: 2em;
    margin: 5vh;
    transition-duration: 500ms;
}
.open
{
    animation-timing-function: ease-out;
    animation: open_page 2s;
}
@keyframes open_page{
    0%{
        height: 100vh;
    }
    100%{
        height: 0vh;
    }
}
#loading_message
{
    color: white;
    height: 0px;
}

/* Custom Cursor */
.cursor_custom
{
    height: 10px;
    width: 10px;

    background-color: #2b2b2b;
    position: absolute;
    border-radius: 50%;
    z-index: 2;
    display: none;    
    pointer-events: none;

    transition: transition; 
    animation-fill-mode: forwards;
}
.wave
{
    animation-timing-function: easeout;
    animation: make_a_wave 500ms;
}
.wave_expand
{
    animation-timing-function: easeout;
    animation: make_a_wave_expand 500ms;
}
.cursor_expand
{
    height: 5px;
    width: 5px;
    border: 1px solid rgb(83, 255, 175);
    position: absolute;
    border-radius: 50%;
    z-index: 1;

    display: none;    
    pointer-events: none;
}
@keyframes make_a_wave{
    0%{
        transform: scale(1);
    }
    40%{
        transform: scale(4);
    }
    50%{        
        transform: scale(6);
    }
    60%{
        transform: scale(4);
    }
    100%{
        transform: scale(1);
    }
}
@keyframes make_a_wave_expand{
    0%{
        transform: scale(1);
    }
    40%{
        transform: scale(20);
    }
    50%{
        transform: scale(15);
    }
    60%{
        transform: scale(20);
        opacity: 100%;
    }
    100%{
        transform: scale(25);
        opacity: 0%;
    }
}
.git_cursor
{
    position: absolute;  
    width: 40px;
    height: 40px;
    border: 1px solid transparent;
    
    z-index: 2;
    border-radius: 50%;
    overflow: hidden;
    background-color: white;
    align-content: center;
    pointer-events: none;

    transition-duration: 0ms;
    transform: scale(0);    
}
.git_enter{
    animation: git_enter 1s forwards;
}
.git_exit{
    animation: git_exit 1s forwards;
}
@keyframes git_enter{
    0%{
        transform: scale(0);
    }
    50%{        
        transform: scale(2.5);
    }
    100%{        
        transform: scale(2);
    }
}
@keyframes git_exit{
    0%{
        transform: scale(2);
    }
    100%{        
        transform: scale(0);
    }
}

#icon_text
{
    position: absolute;
    pointer-events: none;
    overflow: hidden;

    width: 10em;
    height: 4em;
    z-index: 2;

    transform: translate(-4em, 2.5em);
    text-align: center;
}
#displayed_text
{
    z-index: 2;
    position: relative;
    top: -2.4em;
    
    font-size: 1em;
    text-align: center;
}
.slide
{
    animation: slide 1s forwards;
}
@keyframes slide{
    0%{
        transform: translate(0em, 0em);
    }
    100%{        
        transform: translate(0em, 1.4em);
    }
}

.text_div
{
    margin: 10%;
    padding: 5%;
    border: 0.1em solid rgb(39, 39, 39);
    position: relative;
    background-color: white;
    cursor: none;
}

/* BUILD */
@media screen and (min-width: 1190px){    
    .parent
    {
        display: grid;
        grid-template-columns: repeat(2, 1fr);

        padding: 0%;
    }
    .left_col
    {
        grid-row: 1;
        grid-column: 1;
    }
    .right_col
    {
        grid-row: 1;
        grid-column: 2;
    }
}
@media screen and (max-width: 1189px){    
    .parent
    {
        display: grid;
        grid-template-rows: 2, auto;

        padding: 0%;
    }
    .text_div
    {
        grid-row: 1;
        grid-column: 1;
    }
    .loaded_image
    {
        grid-row: 2;
        grid-column: 1;
    }
}

img
{
    object-fit: contain;
    object-position: center;
    width: 100%;
    height: auto;
    z-index: 1;

    transition-duration: 500ms;
    cursor: none;
}

.icon
{
    height: 2em;
    width: 2em;
    margin: 20px;
    transition-duration: 500ms;

}
.icon:hover
{
    transform:scale(1.3)
}

h1
{
    margin-top: 0px;
    word-wrap: break-word;
}

.round_container
{
    width: 2.4em;
    height: 2.4em;
    border-radius: 50%;
    overflow: hidden;

    transition-property: transform;
    transition-duration: 500ms;  
    animation-timing-function: ease-in-out;
    
    animation-fill-mode: backwards;
    animation-duration: 500ms;
}
.round_container:hover
{
    transform: scale(1.3);
}
.round_icon
{
    object-fit: cover;
    object-position: center;
    width: 100%;
    height: 100%;
}

/* HEADER */
#header
{
    color: white;

    display: grid;
    grid-template-columns: repeat(1, 1fr);
    background-color: #2b2b2b;
    margin-bottom: 5vh;
}
.title
{
    font-size: 3em;
}
#header_text
{
    grid-row: 1;
    grid-column: 1;
    z-index: 1;
    padding: 4vh;
    align-content: center;
    word-wrap: break-word;
}

#canvas_3d
{
    grid-row: 1;
    grid-column: 1;
}

.inline
{
    float: left;
}
#pseudo
{
    font-size: 2em;
    margin: 0em;
    padding-left: 0.5em;
    font-family: 'Caveat';
}

/* ROCK SCENE */
#rock_scene
{
    display: grid;
    grid-template-rows: 1, 1fr; 

    height: 50vh;

    position:relative;
}
#dogo
{
    width: 2em;   
    height: auto;
    grid-row: 1;    
    grid-column: 1;
    z-index: 0;


    position:absolute;
    left: 8em;
    bottom: 0px;    
}
#rock_scene canvas
{   
    grid-row: 1; 
    grid-column: 1;
    z-index: 1;
    position:absolute;

    bottom: 0px;
}

footer
{
    background-color: #2b2b2b;
    height: 20em;
    color: white;
    font-family: 'RobotoThinMono';
    
    align-content: center;
}

@media screen and (min-width: 1190px){    
    #end_text
    {
        position: relative;

        font-size: 2em;
        top: 3em;
        text-align: center;
    }
}
@media screen and (max-width: 1189px){    
    #end_text
    {
        position: relative;

        font-size: 1.2em;
        top: 3em;
        text-align: center;
    }
}


#end_text::after
{
    content: "";
    position: absolute;

    background-color: rgb(255, 255, 255);
    height: 0.1em;
    width: 0.1em;
    z-index: 2;
    
    animation: square 5s infinite;
}
@keyframes square
{
    /* go left */
    0%{
        transform: translate(0.5em, -0.3em);
        height: 0.1em;
        width: 0.1em;
    }
    12.5%{
        width: 14.4em;
        height: 0.1em;
        transform: translate(-13.8em, -0.3em);
    }
    25%{        
        transform: translate(-13.8em, -0.3em);
        width: 0.1em;
        height: 0.1em;
    }
    /* go bottom */
    37.5%{
        width: 0.1em;
        height: 2em;
        transform: translate(-13.8em, -0.3em);
    }
    50%{        
        transform: translate(-13.8em, 1.6em);
        width: 0.1em;
        height: 0.1em;
    }
    /* go right */
    62.5%{        
        transform: translate(-13.8em, 1.6em);
        width: 14.4em;
        height: 0.1em;
    }
    75%{        
        transform: translate(0.5em, 1.6em);
        width: 0.1em;
        height: 0.1em;
    }
    /* go top */
    87.5%{
        transform: translate(0.5em, -0.3em);
        width: 0.1em;
        height: 2em;
    }
    100%{
        transform: translate(0.5em, -0.3em);
        height: 0.1em;
        width: 0.1em;
    }
}

.loaded_image
{
    position: relative;
    align-self: center;
}
a:link
{
    text-decoration: none;
}
.url_page_button
{
    color: white;
    background-color: #2b2b2b;
    font-size: 0.8em;

    width: min-content;
    padding: 5px;
    padding-left: 8px;
    padding-right: 8px;
    transition-duration: 250ms;
    border: 1px solid transparent;
}
.url_page_button:hover
{
    color: #2b2b2b;
    background-color: white;
    border: 1px solid #2b2b2b;
    
}
.url_page_button:active
{
    transform: translateY(10px);
    transition-duration: 50ms;
    
}